<div class="account-list change-password" >
  <h3 class="page-title">{{ 'change_password.title' | translate }}</h3>
  <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)" >
    <div class="form-group row required">
      <div class="col-sm-2">
        <label>{{ 'change_password.current_password' | translate }}</label>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="password" formControlName="current_password" placeholder="{{ 'change_password.place_holder' | translate}}"/>
        <div class="alert alert-danger" *ngIf="message?.current_password">{{message?.current_password}}</div>
      </div>
    </div>
    <div class="form-group row required">
      <div class="col-sm-2">
        <label>{{ 'change_password.password' | translate }}</label>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="password" formControlName="password" placeholder="{{ 'change_password.place_holder' | translate}}"/>
        <div class="alert alert-danger" *ngIf="message?.password">{{message?.password[0]}}</div>
      </div>
    </div>
    <div class="form-group required row">
      <div class="col-sm-2">
        <label>{{ 'change_password.password_confirmation' | translate }}</label>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="password" formControlName="password_confirmation" placeholder="{{ 'change_password.place_holder' | translate}}"/>
        <div class="alert alert-danger" *ngIf="message?.password_confirmation">{{message?.password_confirmation}}</div>
      </div>
    </div>
    <a routerLink="/" class="btn btn-dark mt-3 ml-0 mr-3">{{ 'common.back' | translate }}</a>
    <button [disabled]="!formdata.valid" type="submit" class="btn btn-primary mt-3 ml-0 mr-3">{{ 'change_password.save' | translate }}</button>
  </form>
</div>
